.policeSearchContainer {
  height : 100px;
  margin-bottom: 10px;
}

.policeSearchInput {
  width: 100%;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 0px;
  border: 0px;
  border-bottom: 1px solid #3F88C5;
  border-radius: 2px;
}

.policeSearchInput:active {
  border: 0px;
  border-bottom: 1px solid #3F88C5;
}

.policeTableContainer {
  width: 100%;
  margin: auto;
  margin-top: -3% ;
  margin-bottom: 50px;
}

.policeTableHeader {
background-color: rgb(121, 61, 156);
}

.policeTableHeaderElement {
  color: white;
  font-size: 0.9rem;
}

.tableRow:hover {
background-color: rgb(240,240,255);
}

.tableRow th, .tableRow td {
  font-size: 0.9rem;
}

.pagination {
  float: left;
  min-width: 200px;
}

.denseSwitch {
  float: left;
  margin-left: 10px;
}
.addDiv {
  margin: auto;
  float: right;
}

.addIcon {
  font-size: 36px;
  color: green;
}

.removeIcon {
  font-size: 36px;
  color: red;
}

/**/
.containerLocked {
  flex: 4;
  text-align: center;
  margin-top: 9.5%;
}
.headingLocked {
  width: 30%;
  margin: auto;
  color: #1A588C;
  font-size: 1.8rem;
  padding: 1.5% 0 3% 0;
}
@media only screen and (max-width: 769px) {
  .containerLocked {
    margin-top: 25%;
  }
  .headingLocked {
    width: 90%;
    font-size: 1.4rem;
  }
}
/**/

@media only screen and (max-width: 769px) {
  .policeSearchInput {
      width: 100%;
      margin: 0px 0px 0px 0px;
  }
  .policeTableContainer {
      width: 100%;
      margin-top: -15%;
      overflow-x: scroll;
  }
  .tableRow th, .tableRow td {
    font-size: 0.6rem;
  }
  .policeTableHeaderElement {
    font-size: 0.6rem;
  }
}

.container {
  flex: 4;
  height: 92vh;
}