.container {
    width: 100%;
}

.heading {
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: #3F88C5;
}

.iconDiv {
    width: 35%;
    margin: 1% 0%;
    text-align: center;
    transform: scale(1.6);
}

.tenderForm {
    width: 80%;
    margin: auto;
}

.formText {
    width: 30%;
}

.addressText {
    width: 65%;
}

#injuryType, #severity {
    width: 10rem;
}

#mechanism {
    width: 25rem;
}

.injuryDiv {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.timeDiv {
    width: 10rem;
    min-width: 5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.dropdownDiv {
    min-width: 49%;
}

.dropdownItem {
    width: 100%;
    text-align: center;
}

.expiration {
    margin-top: 4%;
    text-align: center;
    width: 10rem;
}

.paymentAmt, .penaltyAmt {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 500px;
    text-align: center;
}

.buttonGroup {
    text-align: center;
}

.divider {
    margin-top: 2%;
    margin-bottom: 2%;
}

.winners {
    width: 75%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}


.headingText {
    padding-top: .5rem;
    font-size: 1.2rem;
    width: 50%;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0rem;
  }
